absl-py
asgiref
attrs
certifi
cffi
channels
charset-normalizer
contourpy
cycler
Django
filelock
flatbuffers
fonttools
fsspec
idna
jax
jaxlib
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml-dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
pillow
protobuf
pycparser
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
sounddevice
sqlparse
sympy
threadpoolctl
torch
tqdm
typing_extensions
tzdata
urllib3
